<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @users.username %></h3>,
    <p>
      You have been recently followed by <%= @currentUser.username %>
    </p>
  </body>
</html>