$primary_font: 'Itim', cursive;
$secondary_font: 'Indie Flower', cursive;
$tertiary_font: 'Noto Serif', serif;

#movies
{
    height: auto;
    margin: 0 auto;
}
.movie-poster img
{
    width: 100%;   
}
.movie-detail
{
    font-family: $tertiary_font;
}

.movie-detail label{
    font-size: 20px;
    font-weight: bold;
}

.title
{
    font-family: $primary_font;
    font-size: 30px;
    color: #6e36c9;
}

.box
{
    margin: 5px;
    width: 214px;
}

.box img
{
    width: 100%;
}
.navbar-brand
{
    font-family: $secondary_font;
    font-size: 24px;
}

.navbar-brand:hover
{
    color: blue;
}

.badge
{
    background: #FFF;
    color: #000;
}

.fa-star
{
    border-color: #fbf749;
    color: #fbf749;
}
.fa-star-o
{
    border-color: #fbf749;
    color: #fbf749;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}