$primary_font: 'Itim', cursive;
$secondary_font: 'Indie Flower', cursive;
$tertiary_font: 'Noto Serif', serif;

#movies
{
    height: auto;
    margin: 0 auto;
}
.movie-poster img
{
    width: 100%;   
}
.movie-detail
{
    font-family: $tertiary_font;
}

.movie-detail label{
    font-size: 20px;
    font-weight: bold;
}

.title
{
    font-family: $primary_font;
    font-size: 18px;
    color: #0000;
}

.box
{
    margin: 5px;
    width: 214px;
    padding: 0px;
    box-shadow: 0.5px 0.5px 1px #f8f8f8;
}

.panel-body
{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.box img
{
    width: 100%;
}

.navbar-default
{
    background-color: #bdbfe0;
    font-size: 16px;
    color: #FFF;
    font-family: $primary-font;
}
.navbar-brand
{
    font-family: $secondary_font;
    font-size: 24px;
}

.navbar-brand:hover
{
    color: blue;
}

.badge
{
    background: #FFF;
    color: #000;
}

.fa-star
{
    border-color: #fbf749;
    color: #fbf749;
}
.fa-star-o
{
    border-color: #fbf749;
    color: #fbf749;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 5px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.recent_reviews
{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: $primary-font;
    border: 1px solid #f8f8f8;
    box-shadow: 1px 1px 1px #f8f8f8; 
}

.comment
{
    font-size: 18px;
    font-family: $tertiary-font;
}

div.desc{
    
}

.fix{
    
}